 <footer class="row-fluid">
      <div class="span1"></div>
      <div class="span10">
        <img src="img/footer.png" alt="Trust Logos"/>
        <p align="center">Copyright © Microgaming 2014. All rights reserved - <strong><a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">View Terms & Conditions</a></strong></p>
      </div>
      <div class="span1"></div>
    </footer><!--end footer-->

    <div class="characters hidden-phone"><img src="img/characters.png"/></div>

  </div><!-- end container -->

  <div id="light" class="white_content">
    <span class="close">
      <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">X</a>
    </span>

    <p><strong>Terms and Conditions:</strong><br>

    <ol>
      <li>This  offer is available at Red Flush Casino by invitation only, and cannot be  transferred to third parties.</li>
      <li>This offer cannot be claimed in  conjunction with any other promotion at Red Flush Casino.</li>
      <li>Eligible players  can claim this offer on the Download, Instant Play or Mobile Casino.</li>
      <li>Eligible players claiming  this exclusive offer will receive 50 Free Casino Credits upon registering a  Real Player account.</li>
      <li>The 50 Free Casino  Credits from Red Flush Casino is available to the first 100 players only. </li>
      <li>Players claiming  this exclusive offer will also qualify to receive a 100% match up to $/£/€ 300  on their first deposit of $/£/€ 20 or more.</li>
      <li>Payouts won while playing will be  credited to the player’s bonus balance.</li>
      <li>All bonuses are  subject to 30 times play through requirements before a withdrawal can be made.</li>
      <li>Bonus credits not  played within 30 days of being awarded will be deemed to have expired and will  be removed.</li>
      <li>This promotion in its entirety runs until 28 February 2014.</li>
      <li>It is at the discretion of the casino whether or  not to extend the availability of this offer.</li>
      <li>Participation in this promotion is subject to  acceptance of the casino's full <a href="http://www.redflushcasino.eu/policies/terms-and-conditions.asp"> Terms &amp; Conditions.</a></li>
    </ol>

  </div>
  <div id="fade" class="black_overlay"></div>

  </body>
</html>

