<div class="container">

    <header class="row-fluid">
      <div class="span4">
         <img src="img/logo.png">
      </div> <!-- end span -->
      <div class="span4"></div>
      <div class="span4 hidden-phone">
          <img src="img/game-logo.png" class="mobile-logo"/>
      </div><!-- end span -->
    </header><!--end header-->

    <div class="row-fluid">
      <div class="span2 hidden-phone"></div>
      <div class="offer span8">
          <img src="img/offer2.png" alt="100% Match up to £300"/>

            <div class="button-wrapper">
                  <a href="http://www.redflushcasino.eu/play-now/microgaming/download.asp?file_name=RedFlush.exe&amp;btag1=654547_FL50AVLVIP&amp;ul=en&amp;operatorsettings=19482&btag4=458" class="install">Download Now</a>
                  <a href="http://redirect.redflush.eu/external.aspx?RedirectType=Register&btag=654547_FL50AVLVIP" class="play">Play Now</a>
                </div>
                <div class="clearfix"></div>
            <p align="center">All offers available in $-€-£ </p>
       </div>
       <div class="span2 hidden-phone"></div>
     </div>

    <div class="row-fluid hidden-phone">
      <div class="span1 hidden-phone"></div>
        <div class="span10">
          <h2>Get started in 3 easy steps:</h2>
          <img src="img/steps.png" alt="Get started in 3 easy steps"/>
          <div class="steps-wrapper">
            <span class="steps-1">Install our latest<br>casino software or select<br>the play online option.</span>
            <span class="steps-2">Register a Real<br>Money Account</span>
            <span class="steps-3">Visit the banking page<br>to make your<br>first deposit.</span>
          </div>
          <h2 align="center">Your bonuses will automatically be credited!</h2>
          <img src="img/mobile-step.png" alt="available on mobile" style="margin-left: -30px;">

        </div>
        <div class="span1 hidden-phone"></div>
    </div>